.call-to-action {
  line-height: 1.5;
  color: #1e4170;
  background: #ffbe43;
  padding: 1rem 2rem;
  font-weight: 700;
  box-shadow: 0 12px 20px 0 #1e41700a;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.call-to-action:hover {
  background: #ff9e43;
  color: black;
  box-shadow: 0 4px 8px 0 #1e41702f;
}

.breadcrumb ul {
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 72px auto 0 auto;
}
.breadcrumb li {
  margin: 0;
}
.breadcrumb li:not(:last-child):after {
  content: '/';
  margin: 0 0.5em;
}
.breadcrumb li a {
  text-decoration: none;
  border-bottom: none;
  font-weight: normal;
  color: white;
  outline-color: white;
}
.breadcrumb li a:hover {
  background: none;
  border-bottom: 5px solid white;
}

.mini-hero {
  position: relative;
  color: white;
}
.mini-hero .mini-hero-bg {
  background: url("../img/atl-reduced.jpg"), #002d68;
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 50vh;
  min-height: 600px;
  width: 100%;
  z-index: -10;
}

.fluid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fluid-container > figure {
  flex: 1 0 25%;
}
.fluid-container > figure img {
  max-width: 100%;
  object-fit: contain;
}

.duo {
  display: flex;
}
.duo > * {
  flex: 1;
}