.call-to-action {
  color: #1e4170;
  background: #ffbe43;
  /* background: #1e4170; */
  padding: 1em 2em;
  font-weight: 700;
  box-shadow: 0 12px 20px 0 #1e41700a;
  border-radius: 4px;
  text-decoration: none;
  /* border: 5px solid #1e4170; */
  position: relative;
  transition: all 0.2s;
}
.call-to-action:hover {
  background: #ff9e43;
  color: black;
  box-shadow: 0 4px 8px 0 #1e41702f;
}
/* .call-to-action:hover {
  background: white;
  color: black;
  border: 5px solid #1e4170;
  border-bottom: 5px solid #d95734;
  border-right: 5px solid #ffa482;
  box-shadow: 0 4px 8px 0 #1e417080;
} */

.breadcrumb ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 72px auto 0 auto;
}
.breadcrumb li {
  margin: 0;
}
.breadcrumb li:not(:last-child):after {
  content: '/';
  margin: 0 0.5em;
}
.breadcrumb a {
  text-decoration: none;
  border-bottom: none;
  color: #1e4170;
}
.breadcrumb a:hover {
  background: none;
  border-bottom: 5px solid #1e4170;
}

.mini-hero {
  position: relative;
}
.mini-hero .mini-hero-bg {
  background: url('../img/skyline-2049.png') #fcd72a;
  background-size: cover;
  background-position: 0 300px;
  position: absolute;
  bottom: 0;
  height: 50vh;
  min-height: 600px;
  width: 100%;
  z-index: -10;
  opacity: 0.33;
}

.fluid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fluid-container > figure {
  flex: 1 0 25%;
}
.fluid-container > figure img {
  max-width: 100%;
  object-fit: contain;
}