/* Hero banner */
.hero {
  overflow: visible;
  position: relative;
}
.hero-bg {
  /* background: url('../img/street orange.png');
  background-size: cover;
  background-position: center; */
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  opacity: 0.4;
}
.hero.front-hero {
  display: flex;
  flex-direction: column;
}
.hero .ekg-container {
  margin-top: -4rem;
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.hero .ekg {
  height: 100%;
  position: relative;
  z-index: -1;
  pointer-events: none;    
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0;
}
.hero .hero-text {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-height: 32rem;
}
.hero .hero-text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.25;
  max-width: 75%;
  margin-bottom: 3rem;
}

@media screen and (max-width: 48rem) {
  .hero .hero-text h2 {
    font-size: 2.5rem;
    max-width: 85%;
  }
  .hero.front-hero {
    flex-direction: column-reverse;
  }
  .hero .ekg-container {
    margin-top: 4rem;
    height: 12rem;
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 36rem) {
  .hero .hero-text {
    height: 60vh;
  }
  .hero .hero-text h2 {
    font-size: 2.5rem;
    max-width: 90%;
    line-height: 1.333;
  }
}

.home main > .contained {
  max-width: 48rem;
  padding: 64px 18px;
}