/* Hero banner */
.hero {
  overflow: visible;
  /* position: relative; */
}
.hero-bg {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}
.hero.front-hero {
  display: flex;
  flex-direction: column;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-height: 32rem;
}
.hero .hero-text h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.25;
  max-width: 75%;
  margin-bottom: 3rem;
  color: white;
}

.hero .call-to-action {
  color: black;
}
.hero .call-to-action:focus {
  outline-color: white;
}
.hero.front-hero,
.hero .hero-bg,
.hero .hero-text {
  height: 42rem;
  max-height: 90vh;
}
.home .header {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 48rem) {
  .hero .hero-text h2 {
    font-size: 2.75rem;
    max-width: 85%;
  }
}

@media screen and (max-width: 36rem),
screen and (max-height: 36rem) {
  .hero .hero-text h2 {
    font-size: 2.5rem;
    max-width: 90%;
    line-height: 1.333;
  }
  .hero .hero-bg {
    background-size: cover;
  }
}

@media screen and (max-height: 36rem) {
  .hero.front-hero,
  .hero .hero-bg,
  .hero .hero-text {
    max-height: 100vh;
  }
}

@media screen and (max-width: 28rem),
screen and (max-height: 28rem) {
  .hero .hero-text h2 {
    font-size: 2rem;
  }
}