body {
	font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  color: #002d68;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}
.contained > h2 {
  margin-bottom: 1rem;
}
.blocks > h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.blocks ul {
  list-style-position: outside;
  padding-left: 1rem;
}
.mini-hero h1 {
  padding: 0.25em 0 0.5em 0;
  margin: 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
}

p a,
ul a,
ol a {
  text-decoration: none;
  outline-offset: 10px;
  color: #703f00;
  border-bottom: 3px solid #ffbe43;
  transition: border-bottom 0.1s, background 0.1s;
}
p a:hover,
ul a:hover,
ol a:hover {
  background: #fcd72a60;
  border-bottom: 5px solid #ee9b00;
  color: black;
}
a:focus {
  outline: 5px solid #002d68;
  outline-offset: 3px;
  transition: outline-offset 0.2s;
}

button {
  padding: 0;
}

button:hover {
  color: black;
}

button:focus {
  outline: 5px solid #002d68;
  outline-offset: 3px;
  transition: outline-offset 0.2s;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Use to hide elements from sighted users. */
/* Source: a11yproject.com */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Mobile-responsive container */
.contained {
  padding: 0 36px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 72rem) {
  .contained {
    max-width: 72rem;
  }
}
@media screen and (max-width: 72rem) {
  .contained {
    max-width: none;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 48rem) {
  .contained {
    padding: 0 18px;
  }
}


.contained.narrow > * {
  margin-left: auto;
  margin-right: auto;
}
.contained.narrow > *:not(.wide):not(.is-style-wide) {
  max-width: 48rem;
}