.blocks > * {
	padding: 0;
	margin: 64px 0;
}
.blocks h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 2.5em;
	line-height: 1.5;
}
.blocks p {
	font-family: 'Open Sans', Helvetica, sans-serif;
	margin: 0 0 16px 0;
}

.blocks .wp-block-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blocks .wp-block-column figure {
	margin: 0;
}

.blocks a.wp-block-button__link {
  color: #1e4170;
  background: #ffbe43;
  padding: 1em 2em;
  font-weight: 700;
  box-shadow: 0 12px 20px 0 #1e41700a;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.blocks a.wp-block-button__link:hover {
  background: #ff9e43;
  color: black;
  box-shadow: 0 4px 8px 0 #1e41702f;
}