.blocks > * {
	padding: 0;
	margin: 0;
}
.blocks p {
	font-family: 'Open Sans', Helvetica, sans-serif;
	margin: 0 0 16px 0;
}
.blocks .wp-block-columns {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blocks .wp-block-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blocks .wp-block-column h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 1rem 0;
}

.blocks .wp-block-column figure {
	margin: 0;
}

.blocks .wp-block-columns.is-style-small-img .wp-block-column img {
  /* min-height: 24rem; */
  max-width: 200px;
}

@media screen and (max-width: 48rem) {
  .wp-block-columns {
    flex-direction: column;
  }
  .wp-block-column {
    flex: 1;
  }
  .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}

.blocks a.wp-block-button__link {
  color: #1e4170;
  line-height: 1.5;
  font-size: 1rem;
  background: #ffbe43;
  padding: 1rem 2rem;
  font-weight: 700;
  box-shadow: 0 12px 20px 0 #1e41700a;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.blocks a.wp-block-button__link:hover {
  background: #ff9e43;
  color: black;
  box-shadow: 0 4px 8px 0 #1e41702f;
}

.wp-block-image img {
  width: 100%;
  height: auto;
}