body.elementor-page .blocks > * {
  padding: 0;
  margin: 0 auto;
}

.elementor p {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  line-height: 1.6;
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
  padding: 0 !important;
}

.elementor section.elementor-section {
  padding: 0 !important;
}

.elementor-section-wrap > section {
  margin: 0 auto 4rem auto;
}
.elementor-section-wrap > section:nth-child(1) {
  margin: 4rem auto;
}

.elementor .elementor-section .elementor-heading-title {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  line-height: 1.6;
  font-size: 1.25rem;
}

.elementor .elementor-section .elementor-heading-title h2 {
  line-height: 1.3 !important;
}

.elementor .elementor-section .elementor-column.elementor-col-50 h2 {
  font-size: 2rem;
}

.elementor .elementor-section p {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  margin: 0 0 16px 0;
}
.elementor .elementor-section .elementor-widget-heading {
  margin: 0 0 16px 0 !important;
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: none !important;
}

.elementor-column.elementor-col-50:nth-child(1), .elementor-column[data-col="50"]:nth-child(1) {
  padding-right: 16px;
}
.elementor-column.elementor-col-50:nth-child(2), .elementor-column[data-col="50"]:nth-child(2) {
  padding-left: 16px;
}

@media screen and (max-width: 48rem) {
  .elementor-column.elementor-col-50:nth-child(1), .elementor-column[data-col="50"]:nth-child(1),
  .elementor-column.elementor-col-50:nth-child(2), .elementor-column[data-col="50"]:nth-child(2) {
    padding: 0;
  }

  .elementor-column.elementor-col-50 .elementor-widget-image {
    padding: 64px 0 0 0;
  }
}
.elementor-button {
  color: #1e4170 !important;
  background: #ffbe43 !important;
  padding: 1em 2em !important;
  font-weight: 700 !important;
  box-shadow: 0 12px 20px 0 #1e41700a !important;
  border-radius: 4px !important;
  text-decoration: none !important;
  position: relative !important;
  transition: all 0.2s !important;
}

.elementor-button:hover {
  background: #ff9e43 !important;
  color: black !important;
  box-shadow: 0 4px 8px 0 #1e41702f !important;
}

/* News page styling */
.news .elementor-column.elementor-col-33 .elementor-widget-image {
  margin-bottom: 0;
}
.news .elementor-column.elementor-col-33 figcaption {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  color: #1e4170;
  opacity: 0.75;
  margin: 0.5rem auto;
  text-align: left;
}
.news.elementor-section .elementor-container {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.news .elementor-column.elementor-col-33 {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.news .elementor-column.elementor-col-33:nth-last-child(1) {
  margin-right: 0;
}

.elementor-section.logos .elementor-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.elementor-section.logos .elementor-container > * {
  flex: 33%;
}
.elementor-section.logos .elementor-widget,
.elementor-section.logos .elementor-widget-container {
  height: 100%;
}
.elementor-section.logos .elementor-widget {
  padding: 1rem;
}
.elementor-section.logos .elementor-widget-container a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.elementor-section.logos .elementor-widget-container a:hover img {
  opacity: 1;
  filter: grayscale(0);
}
.elementor-section.logos .elementor-widget-container a img {
  max-height: 8rem;
  object-fit: contain;
  opacity: 0.5;
  filter: grayscale(1);
  transition: 0.5s opacity, 0.5s filter;
}


@media screen and (max-width: 48rem) {
  .news.elementor-section .elementor-container {
    flex-direction: column;
  }
  .news .elementor-column.elementor-col-33 {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .news .elementor-column.elementor-col-33:nth-last-child(1) {
    margin-bottom: 0;
  }
}