.oppidan-fluid {
  border: 2px dashed green;
  padding: 16px;
}

.oppidan-fluid .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

img:not([alt]), img[alt=""] {
  opacity: 0.4;
  border: 1px solid white;
  outline: 4px solid red;
  outline-offset: 1px;
}